@model IEnumerable<TrashCollector.Models.Pickup>

@{
    ViewBag.Title = "PickupsForEmployee";
}

<h2>PickupsForEmployee</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickupDay)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.VacaStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VacaEnd)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.ExtraPickup)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PickupDay)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.VacaStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VacaEnd)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.ExtraPickup)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PickupId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PickupId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PickupId })
        </td>
    </tr>
}

</table>
